/*base background color*/
@define-color bg_main rgba(44, 47, 58, 0.65);
@define-color bg_main_tooltip rgba(0, 0, 0, 0.7);

/*base background color of selections */
@define-color bg_hover rgba(200, 200, 200, 0.3);
/*base background color of active elements */
@define-color bg_active rgba(100, 100, 100, 0.5);

/*base border color*/
@define-color border_main rgba(255, 255, 255, 0.2);

/*text color for entries, views and content in general */
@define-color content_main white;
/*text color for entries that are unselected */
@define-color content_inactive rgba(255, 255, 255, 0.25);

* {
  text-shadow: none;
  box-shadow: none;
  border: none;
  border-radius: 0;
  font-family: "Segoe UI", "Ubuntu";
  font-weight: 600;
  font-size: 12.7px;
}

window#waybar {
  background: @bg_main;
  border-top: 1px solid @border_main;
  color: @content_main;
}

tooltip {
  background: @bg_main_tooltip;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: @border_main;
}
tooltip label {
  color: @content_main;
}

#clock:hover {
  background: @bg_hover;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#pulseaudio:hover {
  background: @bg_hover;
}

#workspaces {
  color: transparent;
  margin-right: 1.5px;
  margin-left: 1.5px;
}
#workspaces button {
  color: @content_inactive;
  transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#workspaces button.active {
  color: @content_main;
  border-bottom: 3px solid white;
}
#workspaces button.focused {
  color: @bg_active;
}
#workspaces button.urgent {
  background: rgba(255, 200, 0, 0.35);
  border-bottom: 3px dashed @warning_color;
  color: @warning_color;
}
#workspaces button:hover {
  background: @bg_hover;
  color: @content_main;
}
